{sv_livelook}

{exp:channel:entries channel="share" limit="1" disable="member_data|pagination" status="{tv_status}" require_entry="yes"}

{if no_results}
{redirect="404"}
{/if}

{embed="includes/.header" title="{title}" body_id="share" body_class="page-share interior{if pages_sidebar == "none"} full-width{/if}" seo_id="{entry_id}"}

<article id="content" class="base" role="main">

    <header class="share-header">
        <h2>{share_title}</h2>
        <p>{share_content}</p>
    </header>

    <section class="share-body">

        <div class="share-tw share-item">
            <blockquote>{share_tweet}</blockquote>
            <a href="https://twitter.com/intent/tweet?text={exp:url_encode}{share_tweet}{/exp:url_encode}" class="sharer-tw" data-tweet="{share_tweet}" target="_blank">Tweet This</a>
        </div><!--/.share-tw-->

        <div class="share-fb share-item">
            <img src="{share_fb_img}" />
            <a href="http://www.facebook.com/share.php?u={exp:url_encode}{share_fb_link}{/exp:url_encode}" class="sharer-fb" data-fblink="{share_fb_link}" target="_blank">Share on Facebook</a>
        </div><!--/.share-fb-->

    </section><!--/.share-body-->

</article><!--/#content-->
{fv_edit_me}

{embed="includes/.footer"{if pages_sidebar != "none"} side="{pages_sidebar}"{/if}}

{/exp:channel:entries}