{preload_replace:tv_meta=""}
{!-- Set the Homepage Meta Description Here --}

{embed="includes/.header" body_id="home" meta_description="{tv_meta}"}

<div id="content">
	<p>This is a test of the tweet scrape system.</p>
	<button>Click this to make a span!</button>
</div>

<script>
function selectHTML() {
    var text = "";
    if (window.getSelection) {
        text = window.getSelection().toString();
    } else if (document.selection && document.selection.type != "Control") {
        text = document.selection.createRange().text;
    }
    var tweetWrapper = document.createElement("span");
    tweetWrapper.setAttribute("class", "tweet");
    var tweetText = getSelection().getRangeAt(0);
    tweetText.surroundContents(tweetWrapper);
}

jQuery(document).ready(function() {
    jQuery("button").on("click", selectHTML);
});
</script>

{embed="includes/.footer"}