/* 03 =LAYOUT
------------------------- */


#content {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	width: 75%;
 	margin: 20px auto; 
	position: relative;
}

h1, h2 { margin: 0;}

.title {
	font-weight: normal;
	font-size: 70px;
}

h2 {font-weight: 400;}

blockquote {
	font-size: 150%;
	&.tweet {
		padding-right: 60px;
		position: relative;
		margin-left: 60px;
	}
}

a.tweet-button {
	box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 33px;
    width: 30px;
    font-size: 30px;
    padding: 5px 0;
}